.clearfix {
	display: table;
	content: " ";
	clear: both;
}
body {
  background: silver;
	}
.main {
	display: table;
	margin: auto;
	padding: 10px;
	background: green;
	width: 20vw;
	height: 40vw;   
}
.sell {
	background: transparent;
	vertical-align: middle;
	height: 5%;
	width: 10%;
	float: left;
	text-align: center;
	color: #fff;
}
.button__wrapper {
	position: absolute;
	right: 200px;
	top: 30%;
}
button {
	margin: 5px;
	background: #FFEBCD;
	padding: 8px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	min-width: 50px;
	border-radius: 4px;
	cursor: pointer;
}
.figure {
	position: relative;
}

.unit { 
   background: url('../img/1.png');
   background-size: cover;
  position: absolute;
  border-radius: 2px;
}